<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>5StarGlobalEntertainment-TKCS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A09588D29277FF00052C5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0958A629277FF10052C5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0958B029277FF10052C5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
